# Puerto en el que correrá el servidor
PORT=3000

# Conexión a la base de datos (Contenedor PostgreSQL)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Crea los JWT con esta palabra secreta
JWT_SECRET=